<div class="col-md-6 mb-4">
    <article class="card">
        {{ if .Params.page_id }}
        <img src="https://hikaku.imgix.net/hikaku/{{.Params.page_id}}/{{.Params.page_id}}imgtop.jpg" class="card-img-top" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="card-body px-0">
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
            class="text-primary">{{ . | title | humanize }}</a>
        {{ end }}
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
        <div class="mb-3 post-meta">
            <span>By {{ .Site.Params.Author }}</span>
            {{ if not .Params.HideDate }}
            <span class="border-bottom border-primary px-2 mx-1"></span>
            <span>{{ .PublishDate.Format "2006-01-02" }}</span>
            {{ end }}
        </div>
        <p class="card-text">{{ .Params.page_text }}</p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">もっと見る</a>
        </div>
    </article>
</div>